/*scroll, SVG*/

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s ease forwards;
  /* Scroll-driven animation */
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animació línia SVG */

.city-pulse .pulse-line {
  fill: none;
  stroke: url(#neonGradient);
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: pulseLine 3s ease-in-out infinite alternate;
}

@keyframes pulseLine {
  to {
    stroke-dashoffset: 0;
  }
}